*{
  /* border: 2px solid red; */
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.grid-box{
  display: grid;
  grid-template-columns: repeat(8, 80px);
}

.grid-cell{
  width: 80px;
  height: 80px;
  border: 2px solid black;
}

.highlighted-cell{
  width: 80px;
  height: 80px;
  border: 2px solid black;
  background-color: yellow;
}